---
import CollageLayout from "../../layouts/CollageLayout.astro";
---
<CollageLayout title="Collagista">
  <h1>Collagista</h1>
  <p>
    Questa sezione è indipendente: palette, spaziatura e stile “gallery-first”.
    Le immagini vivono in <code>public/images/</code>.
  </p>

  <section class="gallery">
    <figure class="ph">
      <div class="ph-box">Immagine 1</div>
      <figcaption>Serie / titolo (placeholder)</figcaption>
    </figure>
    <figure class="ph">
      <div class="ph-box">Immagine 2</div>
      <figcaption>Serie / titolo (placeholder)</figcaption>
    </figure>
    <figure class="ph">
      <div class="ph-box">Immagine 3</div>
      <figcaption>Serie / titolo (placeholder)</figcaption>
    </figure>
  </section>
</CollageLayout>

